Bin/beast.bat
Bin/beast.nex
Bin/CopperDissassembler.dll
Bin/CSpect.exe
Bin/CSpectReadme.txt
Bin/DebugOut.dll
Bin/DeZogPlugin.dll
Bin/esxDOS.dll
Bin/FileAssociate.dll
Bin/hdfmonkey.exe
Bin/i2C_Sample.dll
Bin/libCSpectExt.dylib
Bin/mod_player.bat
Bin/mod_player.nex
Bin/NextRegisterViewer.dll
Bin/NXtel.bat
Bin/NXtel.nex
Bin/oalinst.exe
Bin/OpenAL32.dll
Bin/OpenTK.dll
Bin/OpenTK.dll.config
Bin/parallax.bat
Bin/parallax.nex
Bin/Plugin.dll
Bin/Profiler.dll
Bin/SDCard_Editor__README.md
Bin/SDCardAccess.dll
Bin/SDCardEditor.exe
Bin/SNasm.exe
Bin/SNASM.rtf
Bin/SpriteViewer.dll
Bin/Zip2SD.dll
Bin/Zip2SD.exe
Bin/Zip2SD.runtimeconfig.json
Bin/ZXNext.ico
Bin/zxnext.sd
Bin/ZXOS.bat
*.o
*.bin
*.nex
*.map
Code/data.c.lis
Code/FrontEnd_Asm.asm.lis
Code/FrontEnd_Overlay.c.lis
Code/GamePlay_Asm.asm.lis
Code/GamePlay_Overlay.c.lis
Code/IRQs.asm.lis
Code/Kernel.asm.lis
Code/main.c.lis
